In [2]:
print("Hello World!")
#Several print statements demonstrating basic output in Python.
print("This is a simple Python script.")
print("Python is fun to learn!")
print("Let's explore some basic concepts.")
print("Variables, data types, and control structures are essential.")

Hello World!
This is a simple Python script.
Python is fun to learn!
Let's explore some basic concepts.
Variables, data types, and control structures are essential.

In [ ]:
#Varius other print statements can be added here as needed.
#Empty print statement
print("")
#print for other data types
print(42)
print(3.14)
print(True)
print([1, 2, 3])
print({"key": "value"})
print((1, 2))
print(None)

42
3.14
True
[1, 2, 3]
{'key': 'value'}
(1, 2)
None

In [17]:
#Prints with space seperator
print("Hello","  World",   2026)

#Seperate lines using newline character
print("Line 1\nLine 2\nLine 3")
#Using seperator parameter
print("Apple", "Banana", "Cherry", sep="")

Hello   World 2026
Line 1
Line 2
Line 3
AppleBananaCherry

In [ ]:
#Line Ending
print("hello")
print("world")

# Custom line ending
print("hello", end=" ")
print("world")

print("Loading",end="...")
print("Done!")

#No ending
for i in range(5):
    print(i,end=" ")

hello
world
hello world
Loading...Done!
0
1
2
3
4

In [34]:
name = "Alice"
age = 30

print("Name:", name, "Age:", age)
#formated strings
print(f"My name is {name} and I am {age} years old.")
print(f"Next Year, I will be {age + 1} years old.")
print(f"Pi:{3.14159:.2f}")
print(f"{name:>20}") #Right align
print(f"{name:<20}") #Left align
print(f"{name:^20}") #Center align
print(f"{age:0>5}")  #Pad with zeros on the left

Name: Alice Age: 30
My name is Alice and I am 30 years old.
Next Year, I will be 31 years old.
Pi:3.14
               Alice
Alice
       Alice
00030

In [35]:
#Decimal formatting
pi = 3.141592653589793
print(f"Pi to 2 decimal places: {pi:.2f}")
print(f"Pi to 4 decimal places: {pi:.4f}")
print(f"Pi in scientific notation: {pi:.2e}")

Pi to 2 decimal places: 3.14
Pi to 4 decimal places: 3.1416
Pi in scientific notation: 3.14e+00

In [37]:
#Special Characters
print("This is a backslash: \\")
print("He said, \"Hello!\"")
print('It\'s a beautiful day!')

#New Line
print("First Line\nSecond Line\nThird Line")
#Tab
print("Column1\tColumn2\tColumn3")
#Carriage Return
print("Hello World\rStart")
#Backspace
print("Hello Worl\bld")
#Form Feed
print("Line1\fLine2")
#Vertical Tab
print("Line1\vLine2")

This is a backslash: \
He said, "Hello!"
It's a beautiful day!
First Line
Second Line
Third Line
Column1	Column2	Column3
Start World
Hello World
Line1Line2
Line1Line2

In [38]:
#Python variables
#Vraible in Python are dynamically typed and do not require explicit declaration.
#No declaration needed -just assigh the value
message = "Hello, Python!"
count = 42
pi = 3.14159
is_valid = True
data_list = [1, 2, 3, 4, 5]
data_dict = {"name": "Alice", "age": 30}
data_tuple = (10, 20, 30)
nothing = None

#Dynamic typing --type can change
var = 10          # Initially an integer
print(var)
var = "Now I'm a string!"  # Now a string
print(var)
var = [1, 2, 3]  # Now a list
print(var)

10
Now I'm a string!
[1, 2, 3]

In [ ]:
#Naming conventions
my_variable = 10          # Snake case
myVariable = 20           # Camel case
MyVariable = 30           # Pascal case

#valid names
var1 = 100
_var = 200
var_3 = 300
#invalid names (uncommenting these will cause errors)
#1var = 400        # Starts with a digit
#my-var = 500     # Contains hyphen
#my var = 600     # Contains space
#def = 700        # Uses a reserved keyword
#class = 800     # Uses a reserved keyword

In [ ]:
#Multiple assignments
#unpack multiple values into variables
a, b, c = 1, 2, 3
print(a, b, c)

#Assign same value to multiple variables
x = y = z = 100
print(x, y, z)

#Swap values between variables
m = 5
n = 10
m, n = n, m
print(m, n)  # Outputs: 10 5

x,y=10,20
x,y=y,x
print(x,y)  #Outputs:20 10

#Unpack with * (exteded unpacking)
first, *middle, last = [1, 2, 3, 4, 5]
print(first)   # Outputs: 1
print(middle)  # Outputs: [2, 3, 4]
print(last)    # Outputs: 5

head ,*tail = [10,20,30,40,50]
print(head)  #Outputs:10
print(tail)  #Outputs:[20,30,40,50]

1 2 3
100 100 100
10 5
20 10
1
[2, 3, 4]
5

Reserved words or keywprds has special meaning in Python language.Python has almost 35+ keywords (py 3.10)

Contol flow: if ,elif,else,for,while,break,continue,pass
Function/ClasKeywords: def,class,return,yeild,lamdba
Exception handing:try,except,finally,raise,assert
Bollean & Logic:True,False,and,or,not,is,in
Import&Module: import,from,as
Variable Scope:global,nonlocal,del
None,with,async,await etc

In [44]:
# A program that prints all keywords in Python
import keyword
print("Python Keywords:")
print(keyword.kwlist)

Python Keywords:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Variables are containers for storing data values .

In [ ]:
x =5 #Integer variable assignment
name = "John Doe" #String variable assignment
price = 19.99 #Float variable assignment

Naming Rules:
Valid:
Must stat with letter (AtoZ or a to z)
can contain digit (0to9) and underscores (even with starting)
Case sensitive (age is not equal to AGE)
Invliad:
cannot stat with digit 2var wrong
cannot use keywords class is wrong
Cannot contain spaces or special chars my-var,my var are wrong

In [45]:
# Varibales Types (Dynamic typing)
x= 10           # Integer
y= 3.14         # Float
z= "Hello"      # String
x=True          # Boolean
x=None          # NoneType
x=[1,2,3]      # List
x=(1,2,3)      # Tuple

print(type(x))  # Outputs: <class 'list'>
print(type(y))  # Outputs: <class 'float'>

<class 'tuple'>
<class 'float'>

In [46]:
# Singe line Assignment
x=5
#Multiple line Assignment
a=10
b=20
c=30

#or
a,b,c=10,20,30
print(a,b,c)
#Same val for multiple variables
x=y=z=100
#Unpacking
x,y=[10,20]
first,*rest=[1,2,3,4,5]
print(first)
print(rest)

#Augemented assignments
x+=5  # x = x + 5
y*=2  # y = y * 2

10 20 30
1
[2, 3, 4, 5]

In [51]:
#Memory management
#Variables are refrence to objects
a = [1, 2, 3]
b = a  # b references the same list as a
b.append(4)
print(a)  # Outputs: [1, 2, 3, 4]
print(b)  # Outputs: [1, 2, 3, 4]
#Check if same object
print(a is b)  # Outputs: True
#Get memory address
print(id(a))
print(id(b))
#Delete variable
del b
#print(b)  # This will raise an error since b is deleted

[1, 2, 3, 4]
[1, 2, 3, 4]
True
3117647886720
3117647886720

Mutable and Immutable:
Immutable (cannot change)
int,float,string,tuple,boolean,frozenset
Mutable:Can change
list,dict,set,custom objects

In [54]:
#Immutable
x = 10
print(id(x))  # Outputs memory address of x
y =x + 5
print(id(y))  # Different memory address since integers are immutable

#Mutable
my_list = [1, 2, 3]
print(id(my_list))  # Outputs memory address of my_list
my_list.append(4)
print(id(my_list))  # Same memory address since lists are mutable

140733040839384
140733040839544
3117647955648
3117647955648

In [ ]:
#Special Variables
# __name__ variable
result = None

#Boolean Variables
is_active = True
has_error = False

#Underscore Variables
_current_value = 42 
__version__ = "1.0.0"

5+3
_ #Outputs:8

''

Python does not have built in constant types .Constnats are implemented by convention using styles and modules.

In [ ]:
#Naming convention uppercase for constants
PI = 3.14159
GRAVITY = 9.81
SPEED_OF_LIGHT = 299792458  # in meters per second
AVOGADRO_NUMBER = 6.022e23  # in mol^-1
# Constants are typically defined at the module level and written in uppercase letters with underscores separating words.
API_KEY = "your_api_key_here"
MAX_CONNECTIONS = 100
DEFAULT_TIMEOUT = 30  # in seconds
DATABASE_URL = "https://example.com/database"

In [ ]:
#Built-in Constants
True #Boolean true value
False #Boolean false value
None #Represents absence of value
NotImplemented #Indicates unimplemented functionality
Ellipsis #Used in slicing operations    
__debug__ #Indicates if debug mode is on

In [ ]:
#Module level constant
DATABASE_URL = "https://example.com/database"
MAX_RETRIES = 5
MAX_CONNECTIONS = 100
TIMEOUT_SECONDS = 30

In [ ]:
#Math constants
import math
PI = math.pi #3.14159
E = math.e #2.71828
TAU = math.tau  #6.28318
INF = math.inf #Positive infinity
NAN = math.nan #Not a number

Vraibles are labels that references objects in memory.

Python operators.
1.Airthematic Operator

For mathematical operations

Operator   Name         Example    Result
+          Addition     6+3         9
-          Sub          6-3         3
*          Mul          6*3         18
/          Division     6/3          3
//         FloorDivision 5//2        2
%          Modulus(rem)  5%2         1
**         Exponenation  2**3        8

In [58]:
a=10
b=3
# Arthematic Operations
addition = a + b          # Addition
subtraction = a - b       # Subtraction
multiplication = a * b    # Multiplication
division = a / b          # Division (float)
floor_division = a // b   # Floor Division
modulus = a % b           # Modulus (remainder)
exponentiation = a ** b   # Exponentiation
print("Addition:", addition)
print("Subtraction:", subtraction)  
print("Multiplication:", multiplication)
print("Division:", division)    
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [ ]:
#Special cases
#Division by zero
#10/0  # Raises ZeroDivisionError
#Modulus by zero
#10%0  # Raises ZeroDivisionError
#Integer overflow (Python handles large integers automatically)
big_number = 10**1000
print(big_number)  # Outputs a very large integer
#Float precision issues
a = 0.1 + 0.2
print(a)  # Outputs: 0.30000000000000004
#Infinity
float('inf')+1  # Outputs: inf
float('inf')*2  # Outputs: inf

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
0.30000000000000004

2.Comparision (Relational) operators

Used to compare values.They return True or Flase.

Operator                    Meaning                             Example
==                          Equal to                            5==5-->True
!=                          Not Equal                           5!=3-->True
>                           Greater than                        5>3
<                           Lessthan                            5<3
>=                         Greater than or equal                5>=3
<=                        Leass then or equal                   5<=3

In [62]:
#Comaparision operations
a = 10
b = 20
equal = (a == b)            # Equal to
not_equal = (a != b)       # Not equal to   
less_than = (a < b)        # Less than
less_equal = (a <= b)      # Less than or equal to
greater_than = (a > b)     # Greater than
greater_equal = (a >= b)   # Greater than or equal to
print("Equal:", equal)
print("Not Equal:", not_equal)  
print("Less Than:", less_than)
print("Less Than or Equal:", less_equal)
print("Greater Than:", greater_than)
print("Greater Than or Equal:", greater_equal)

Equal: False
Not Equal: True
Less Than: True
Less Than or Equal: True
Greater Than: False
Greater Than or Equal: False

In [ ]:
#Chaining Comparisons
x = 15
result = 10 < x < 20  # True
print("Is x between 10 and 20?", result)

#Multiple chains
1<2<3<4<5  # Outputs: True
5>4>3>2>1  # Outputs: True

Is x between 10 and 20? True

In [64]:
age = 25
print("Age is:", age)
18<=age<=65  #Outputs: True

Age is: 25

True

In [ ]:
#compare different data types
10 == 10.0  # Outputs: True
10 < 20.5   # Outputs: True
5 == "5"  # Outputs: False
[1,2,3] == (1,2,3)  # Outputs: False
[1,2]=[1,2]  # Outputs: True

3.Assignment operators:
Used to assign values to variables

Operator   Example     Same as
=           x=5         Assign 5
+=          x+=3        x=x+3
-=          x-=3        x=x-3
*=          x*=3        x=x*3
/=          x/=3        x=x/3
//=         x//=3       x=x//3
%=          x%=3        x=x%3
**=         X**3        x=x**3

In [65]:
#Example for assignment operators
x = 10
x += 5  # x = x + 5
x -= 3  # x = x - 3
x *= 2  # x = x * 2
x /= 4  # x = x / 4
x //= 3  # x = x // 3
x %= 4   # x = x % 4
x**=2    # x = x ** 2
print(x)

4.0

4.logical Operators.
Used to combine conditional statements

Opeartor         Meaning                      Example
and              True if both are True        True and False -->False
or               True if atleast one is true  True or False -->True
not              Reverse the result           not True -->False

In [66]:
#Example for logical operators
a = True
b = False
and_result = a and b  # Logical AND
or_result = a or b    # Logical OR
not_result = not a     # Logical NOT
print("AND Result:", and_result)
print("OR Result:", or_result)
print("NOT Result:", not_result)

AND Result: False
OR Result: True
NOT Result: False

In [68]:
age = 25
is_adult = age >= 18
print("Is adult:", is_adult)
print(age>18 and age < 30)

Is adult: True
True

True and True   ---True
True and False  ---False
False and false ---False

True or false  ---True
False or False ---False

not true ---false
not false ---true

In [ ]:
#Falsy values(Evaluates to false)
bool(False)          # The boolean value False
bool(0)              # The integer zero
bool(0.0)            # The float zero
bool("")             # The empty string
bool([])             # The empty list
bool(())             # The empty tuple
bool({})             # The empty dictionary

# Above will False a output

#Truthy values(Evaluates to true)
bool(True)           # The boolean value True
bool(1)              # Any non-zero integer
bool(-1)             # Any non-zero integer
bool(3.14)           # Any non-zero float
bool("Hello")       # Any non-empty string
bool([1, 2, 3])     # Any non-empty list
bool((1, 2))        # Any non-empty tuple
bool({"key": "value"})  # Any non-empty dictionary

Bitwise operators
Operate on binary numbers(low level but powerfull)

Operator     Name       Example
&           AND         5&3 -->1
`           `           OR
^           XOR         5 ^ 3 -->6
~           NOT         ~5 -->-6
<<          left shift  5<<1 -->10
>>          right shift  5 >> 1-->2

Any given number is converted into physical bits which or 1's and 0's

1 0001
2 0001
3 0011
4 0010
5 0101
6 0110
Bitwise AND                   Bitwise 5 ^ 3
1 & 1 =1                      1 ^1 =0
All other combinations =0     0 ^ 0 =0
5 & 3                         1 ^ 0 =1
0101                          0 ^ 1 =0
0011                         Result is 1 only when bits are different
----                          0101
0001   -->1                   0011
                              ------
                             0110    
Bitwise Not
~ 5  --- ~0101  

Flip every bit
1-->0
0-->1
Binary of 5 -->00000101
~5-->11111010  -->-6
~n=-(n+1) --> ~5 =-(5+1)=-6

~0 -->-1
~1-->-2
~5-->-6

Bitwise rightshift                   Bitwise leftshift
5=00000101
5 >> 3                                   5<<3
Before : 00000101                 Before : 00000101                 
Shift 3:>>>                       Shift 3:<<<
After:00000000                      After: 00101000
Right shift moves bits to the right  Left shift moves bits to the left and Zeros arre added on the right
Zero  are added on the left          Left shift == multiplication 2 to the power of 3 =8 -->5*8=40
2 the power 3-->8
5 //8  =0

4 >> 2

# check if number is even
num & 1 ==0 # True if even
# Swap values without temp
a =5
b=7
a ^=b
b ^=a
a ^=b  --> a=7 ,b=5

6.Identity operators
Check object identity (memory location)
is and is not

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

a is b  # Outputs: True(same object)
a is c  # Outputs: False (different objects)
a == c  # Outputs: True (same content)

a is not c  # Outputs: True (different objects)
b is not c  # Outputs: True (different objects)

In [ ]:
# small integer caching (-5 to 256)
x = 100
y = 100
x is y  # Outputs: True (same object due to caching)

a = 1000
b = 1000
a is b  # Outputs: False (different objects)

7.Membership operators
Check if value exists in sequence

in and not in

In [ ]:
# in operator
#Check membership in a list
fruits = ["apple", "banana", "cherry"]
"banana" in fruits  # Outputs: True
"pineapple" in fruits  # Outputs: False
"grape" not in fruits  # Outputs: True

#Sequence we found in lists dic and strings
"an" in "banana"  # Outputs: True
[1, 2] in [0, 1, 2, 3]  # Outputs: False

#Dictionary membership
data = {"name": "Alice", "age": 30}
"name" in data  # Outputs: True
"Alice" in data.values()  # Outputs: True
"Alice" not in data  # Outputs: False

8.Ternary operators:
Oneline if-else

result = "pass" if marks >=40 else "fail"

If condition is true left stmt orther wise right side.

In [ ]:
#Example for ternary operator
age = 20
status = "Adult" if age >= 18 else "Minor"
print("Status:", status)

Operator precendence: BODMOSSRule.
1.()
2.**
3.+-(unary)
4.*/ // %
5.+-
6.Comparisiom
7.not
8.and
9.or
print(5+3 * 2) # 11

Operator precedence for python:
1.() --Grouping
2.** Exponention
3.+x,-X,~x --Unary plus,Unary minus,Bitwise NOT
4.*,/,//,% --Mul,div,floordiv,Module
5.+,-  --Add,Sub
6.<<,>> --BitWise Shifts
7.& -Bitwise AND
8.^ -Bitwise XOR
10.==,!=,>,>=,<,<=,is,isnot,in,not in --comparission,identity,membership
11.not --Boolean NOT
12.and--Boolean AND
13.or--Boolean OR
14.if-else-Condition expression
15.lambda--LambdaExpression
16.:= --Walrus operator.

KeyPoints:
--Operstion with higher precedence execute first.
--Operators with same level are evaluated left to right (except exponention --right to left)
--Use paranthesis to override deafult precedence and improve readility.

result=2+3*4

--3 *4 =12
--2+12=14

(2+3)*4= 5 *4=20
2 ** 3 **2 --> 2 ** (3 ** 2)=512
-3+5 =2

10/2*3 =15

10-3+2 =9

result = 10 +2 *3 **2 > 25 and not False
Steps:
1. 3 ** 2 =9
2.2 * 9=18
3.10+18=28
4.28 >25 =True
5.Not False = True
6.True and True =True.

print(2+3*4**2)

4 ** 2 = 16 --3 *16=48 --2+48=50


print(10-4>3)

6 ,5   -- 6>5 

print(5 > 3 and 2 < 4)
print(not 3 ==3)
print(True or false and False)
print(1<2<3==True)
print(False == False in [False])
False == False and False in [False]
print(not True == False)
not(True==False)

Walrus Opertor
:= officialy called as walrus or assignment expression.
let us assign a value to the variable and use in same expression.
Introduced only in Python 3.8

Old way:
n = len(data)
if n>10:
print(n)

new Way:
if(n :=len(data)) >10:
print(n)

Basic Syntax:
variable:=expression.

While loops,Avoid Repetative function calls,Regualr expressions,List compreshion technics

When to use :
Avoid repetated calucation.
Simplying loops
Make conditions readble.

In [69]:
#Walrus operator
n = 10
while (n := n - 1) > 0:
    print(n)

9
8
7
6
5
4
3
2
1

In [ ]:
print(x :=5+3)
#print(x :=y := 10) #Syantx Error :Walrus cannot be chained
if x :=False: # Catious for unrechable code
    print("Hello")  
    
else:
    print("World")
    
#x := 10
print(x := 10)
#Walrus has lower precedence than most operators
print(y := x + 5)

8
World
10
15

Control Flow Mechanism in Python:

Control flow determines the oder in which statements execute the programs.
By default: top to bottom.
Control flow let us change the order based on condition ,repetation or exception.

1.Decision making 2.repetation 3.Exception control flow

Decision making :
Conditional statements:
If statement
if-else
if-elif-else
Nested If

Repetaions or Lopping:
Number of iterations.
For loop
While loop

Loop control statements:
break
continue
pass
Not recomended
else with Loops
while-else

Exception flow:Discuss as seperate concept.

An if statement is used to make decision based condition.
It will run code only when con is true.

It is raining then take umbrella.

Syntax:
if condition:
    statements(s)

Rules:
Condition must evaluete to True or False.
The colon : is mandatory.
Indentation(Spaces) is required in Python(4 spaces)

In [ ]:
#Decision statement
#Execute code based on condition and only if the condition is true
age = 20
if age >= 18:
    print("You are an adult.")

If Else statement:
Two way decision .
Execute one block of code if condition is true, another if false
Used when yu want two choices.

Syntax:
if condition:
    Stmts(s)
else:
    stsmts(s)

In [76]:
#If-Else Statement
#Execute one block of code if condition is true, another if false
#Two-way decision   
age = 20
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

If-elif-else
Multipile conditions checking.
Multi-way decision
Multiple conditions checked in sequence (top to bottom) until one is met.
Ladder of conditions
Syntax:

if cond1:
    stamts(s)
elif cond2
    stamts(s)
'
'
'
else:
     stmts(s)

In [82]:
#If-elif-else Statement
#Multi-way decision
#Multiple conditions checked in sequence (top to bottom) until one is met.
marks=50
if marks >= 90:
    grade = 'A'
elif marks >= 80:
    grade = 'B'
elif marks >= 70:
    grade = 'C'
else:
    grade = 'D'
    
#Only the first true condition's block is executed
print("Grade:", grade)

Grade: D

Nested IF:
If statements inside other if statements for more complex decision making

Syntax:
if condi:
   if condi:
       statements
   else:
      stamsts

In [84]:
#Nested if 
#If statements inside other if statements for more complex decision making
age = 10
has_license = True

if age >= 18:
    if has_license:
        print("You can drive.")
    else:
        print("You need a license to drive.")
else:
    print("You are too young to drive.")

You are too young to drive.

Common rules:
Comparision operators inside if for con evaluaton.
== ,!=,>,>=,<,<=
Logical operators
and,or ,not
To avoid if else of 2 lines we can use terinary operator.

In [ ]:
if marks >= 50:
  print("Pass")
else:
  print("Fail")
  #===========================
result = "Pass" if marks >= 50 else "Fail"
print("Result:", result)

Pass
Result: Pass

Common mistakes

In [ ]:
#if x > 5:
#print("x is greater than 5")

#Using = insted of ==
#if x = 10:
#if x > 10

Truthy and Falsy values.
Falsy values:
0,None,"",[],{},()

In [86]:
name =""
if name:
    print("Name is provided.")
else:
    print("Name is not provided.")

Name is not provided.

Iterative/Looping Statements in Python:

When ever you want to execute stataments for certain times (repetively).

For loop and While loop.

We should use for loop when we know no of iterations in advance other wise use while loop.

For loop:
Is used to repeat a block code for each item in sequence.

Do this action again ang again for every value.

Syntax:
for variable in sequence:
    statements

Variable -->takes one value at a time.
sequence-->list,tuple,string,range etc.

In [87]:
for i in range(5):
    print(i)

0
1
2
3
4

In [88]:
fruits =["apple","banana","cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [89]:
for ch in "Hello":
    print(ch)

H
e
l
l
o

In [94]:
students = {"name":"John", "age":20, "grade":"A"}

for key in students:
    print(f"{key}: {students[key]}")
    
for values in students.values():
    print(values)    
for key, value in students.items():
    print(f"{key}: {value}")

name: John
age: 20
grade: A
John
20
A
name: John
age: 20
grade: A

In [95]:
#For loop with if condition
for i in range(10):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [ ]:
# Nested loop is also posible
for i in range(3):  # 0,1,2
    for j in range(2): #0,1
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [100]:
# Break and Continue Statements
#Break statement stop the loop entirely
for i in range(10):
    if i == 5:
        break  # Exit the loop when i is 5
    print(i)
print("Loop ended.")   
#Continue statement skips the current iteration and moves to the next one
for i in range(10):
    if i % 2 == 0:
        continue  # Skip even numbers
    print(i)  # This will print only odd numbers   
 
print("Odd numbers printed.")    
#Pass: Placeholder that does nothing
for i in range(5):
    if i < 3:
        pass  # Placeholder for future code
    else:
        print(i)

0
1
2
3
4
Loop ended.
1
3
5
7
9
Odd numbers printed.
3
4

In [103]:
# Else with for loop
# else block executes if loop completes normally (no break)
for i in range(5):
    #if i == 3:
        #break  # Uncommenting this will prevent else from executing
    print(i)
else:
    print("Loop completed without break.")

0
1
2
3
4
Loop completed without break.

In [104]:
#Loop with index (enumerate)
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry

In [105]:
# Looping through two lists simultaneously (zip)
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
for name, age in zip(names, ages):
    print(f"Name: {name}, Age: {age}")

Name: Alice, Age: 25
Name: Bob, Age: 30
Name: Charlie, Age: 35

In [107]:
# List comprehensions
#Create a new list by applying an expression to each item in an existing iterable
squares = [x**2 for x in range(10)]
print(squares)  # Outputs: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Will use regular loops instead of comprehensions for better readability
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

even = [x for x in range(10) if x % 2 == 0]
print(even)  # Outputs: [0, 2, 4, 6

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

In [ ]:
# Coomon mistakes
#Forgetting identation
for i in range(5):
#print(i)

In [108]:
#Modifying list while iterating
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num % 2 == 0:
        numbers.remove(num)

In [109]:
# Sum of numbers
total = 0
for i in range(1, 6):
    total += i
print(total)

15

While Loop:
While loop repeats a block of code as long as condition is True

Keep doing this while con is true.

Syntax:
while condition:
    statements

Rules:
Condition must return true or flase
loop stops when con becomes false
Identaion is mandatory

In [112]:
i =1
while i <=5:
    print(i)
    i +=1

1
2
3
4
5

In [ ]:
while True:
    #break
    print

In [113]:
#Break inside while loop
i =1
while i <=5:
    if i ==3:
        break
    print(i)
    i +=1

1
2

In [114]:
# Continue inside while loop
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5

In [115]:
# Pass inside while loop
i = 0
while i < 5:
    i += 1
    if i == 3:
        pass
    print(i)

1
2
3
4
5

In [116]:
#Else with while loop
i = 1
while i <=5:
    print(i)
    i +=1
else:
    print("Loop completed without break.")

1
2
3
4
5
Loop completed without break.

In [ ]:
# Common mistakes
#Forgetting indentation
#Forgetting to update loop variable it leads to infinite loop
#Wrong condition in while loop

In [ ]:
num =512
total =0
while num >0:
    digit = num %10 #Get last digit
    total += digit
    num //=10
    
print("Sum of digits:", total)

Sum of digits: 8

Iteration1
dig=512%10 --2
total =0+2--2
num=512//10--51

Iterations2

51%10 --1
2+1--3
51//10 --5

Iteration 3
5%10 --5
3+5--8
5//10---0

While                                 for loop
Con based                       Sequence  based
count is unknown                Count is known
easilt become infinite (carefull) safer

What is range()?
Built in function in python.Used to generate sequence of numbers.Mostly used in loops.for is very much recomended.
Does not store numbers in memory --it generate them on demandend.
Syntax:
range(start,stop,step)

All params are integer.
Start and step are optional parms 
Stop -required parm.

Start(Optional)
Default value is 0.
The number where sequence begings

Stop(required)
! The Stop value is not included.
The number where the sequence end.

step(optional)
Default value is 1 not 0.
Can be positive or negative.
The difference between each number.

Different ways to use:

range(stop)
range(5)  ---0,1,2,3,4

for i in range(i)
   print(i)

range(start,stop)
range(2,6)  -2,3,4,5

range(start,stop,step)
range(1,10,2)
1,3,5,7,9

Using negatives.
range(10,0,-2)
10,8,6,4,2

Recomended to use start is higher than stop otherwise no results.

Why Stop is not reuired for indexes:
Index based loops can check based on len.
Length based iterations.

In [123]:
for i in range(10,3,-2):
    print(i)

10
8
6
4

In [125]:
numbers=[10,20,30,40,50]
#for num in numbers:
for i in range(len(numbers)):
    print(numbers[i])

10
20
30
40
50

In [127]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

In [134]:
#Common uses for loops and ranges
# Looping a fixed no of times
for i in range(5):
    print("Hello")  
    
#Index-based iterations

for i in range(len("python")):    
    print(i)
    
#Matthematical sequences
for i in range(0,21,5):
    print(i)  
    
#even numbers
for i in range(0,11,2):
    print(i) 

even_numbers = [x for x in range(21) if x % 2 == 0]
print(even_numbers) 

even=list(range(0,21,2))

Hello
Hello
Hello
Hello
Hello
0
1
2
3
4
5
0
5
10
15
20
0
2
4
6
8
10
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Import rules
range(1,10,0) #Error: step must not be zero

#Wrong direction step
range(10,1,2)  #Outputs: empty range
range(1,10,-1)  #Outputs: empty range

Key chars of range()
Memory efficient (lazy evalution)
immutable.
Support indexing.

In [141]:
a =range(4)
print(type(a))
print(len(a))
print(a[3])

<class 'range'>
4
3

In [142]:
5 in range(1,10)

True

Tricky questions in range()

In [143]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [149]:
#range(1,10,0) #Error: step must not be zero

print(list(range(5,1)))
print(list(range(-5)))

r =range(10)
print(type(r))
print(r[2],r[-1])  # Outputs: 2 9

print(range(0,10,2)==range(0,11,2))
#Python compares ranges based on their values, not their object identities. and not based on parms

print(list(range(1,1)))

print(range(10)[2:8:2])

[]
[]
<class 'range'>
2 9
False
[]
range(2, 8, 2)

Enumarate()
enemurate() allows us loop over an iterable and it's index at same time.

Inseated of manually tracking index Python does it for us.

Syntax:
enumarate(iterable,start=0)

iterable -->list ,tuple,string,range etc.
start -->number to begin counting from defult=0

In [158]:
fruits =["apple", "banana", "cherry"]
#Regular for loop
#for fruit in fruits:
 #   print(fruit)
 
 #Using range function
for i in range(len(fruits)):
    print(fruits[i])
    
#Using enumerate  --Python is managing index internally
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")    
    
    
#Manual index management ---old way 
i=0
for fruit in fruits:
    print(f"Index: {i}, Fruit: {fruit}")
    i +=1 
   
#Deafult index start from 0 when can override using start parameter    
for i,fruit in enumerate(fruits, start=1):
    print(f"Index: {i}, Fruit: {fruit}")  
    
#enumarte() returns an enumerate object which is an iterator that produces pairs of index and value from the input iterable.

e=enumerate(fruits)
print(next(e))  #Outputs: (0, 'apple')  

#Strings are iterable
for index, ch in enumerate("Hello",start=2) :
    print(f"Index: {index}, Character: {ch}")

apple
banana
cherry
Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry
Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry
Index: 1, Fruit: apple
Index: 2, Fruit: banana
Index: 3, Fruit: cherry
(0, 'apple')
Index: 2, Character: H
Index: 3, Character: e
Index: 4, Character: l
Index: 5, Character: l
Index: 6, Character: o

In [ ]:
#index based condition without enum()
for i in range(len(fruits)):
    if i % 2 == 0:
        print(f"Index: {i}, Fruit: {fruits[i]}")
        
#index based condition with enumerate() and without range()
for i, fruit in enumerate(fruits):
    if i % 2 == 0:
        print(f"Index: {i}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 2, Fruit: cherry
Index: 0, Fruit: apple
Index: 2, Fruit: cherry

Enumaret is better:
avoids index errors.
clearer intent.
work with any iterable

In [ ]:
#enumerate([]) #Empty enumerate object
#enumerate(range(5)) #Working enumerate object
enumerate(fruits)

#When we don't have to use index, we can directly iterate over the elements without using enumerate or range.

Key Differences : range() and enumerate()

Feature         range()              enumarate()
Produces        Numbers only        Index+Values
Works           Numbers             Any Iterables
Uses            Loop counts         Loop with index
returns         Sequence of int     Pair(index,item)--enumaration object