In [2]:
print("Hello World!")
#Several print statements demonstrating basic output in Python.
print("This is a simple Python script.")
print("Python is fun to learn!")
print("Let's explore some basic concepts.")
print("Variables, data types, and control structures are essential.")

Hello World!
This is a simple Python script.
Python is fun to learn!
Let's explore some basic concepts.
Variables, data types, and control structures are essential.

In [ ]:
#Varius other print statements can be added here as needed.
#Empty print statement
print("")
#print for other data types
print(42)
print(3.14)
print(True)
print([1, 2, 3])
print({"key": "value"})
print((1, 2))
print(None)

42
3.14
True
[1, 2, 3]
{'key': 'value'}
(1, 2)
None

In [17]:
#Prints with space seperator
print("Hello","  World",   2026)

#Seperate lines using newline character
print("Line 1\nLine 2\nLine 3")
#Using seperator parameter
print("Apple", "Banana", "Cherry", sep="")

Hello   World 2026
Line 1
Line 2
Line 3
AppleBananaCherry

In [ ]:
#Line Ending
print("hello")
print("world")

# Custom line ending
print("hello", end=" ")
print("world")

print("Loading",end="...")
print("Done!")

#No ending
for i in range(5):
    print(i,end=" ")

hello
world
hello world
Loading...Done!
0
1
2
3
4

In [34]:
name = "Alice"
age = 30

print("Name:", name, "Age:", age)
#formated strings
print(f"My name is {name} and I am {age} years old.")
print(f"Next Year, I will be {age + 1} years old.")
print(f"Pi:{3.14159:.2f}")
print(f"{name:>20}") #Right align
print(f"{name:<20}") #Left align
print(f"{name:^20}") #Center align
print(f"{age:0>5}")  #Pad with zeros on the left

Name: Alice Age: 30
My name is Alice and I am 30 years old.
Next Year, I will be 31 years old.
Pi:3.14
               Alice
Alice
       Alice
00030

In [35]:
#Decimal formatting
pi = 3.141592653589793
print(f"Pi to 2 decimal places: {pi:.2f}")
print(f"Pi to 4 decimal places: {pi:.4f}")
print(f"Pi in scientific notation: {pi:.2e}")

Pi to 2 decimal places: 3.14
Pi to 4 decimal places: 3.1416
Pi in scientific notation: 3.14e+00

In [37]:
#Special Characters
print("This is a backslash: \\")
print("He said, \"Hello!\"")
print('It\'s a beautiful day!')

#New Line
print("First Line\nSecond Line\nThird Line")
#Tab
print("Column1\tColumn2\tColumn3")
#Carriage Return
print("Hello World\rStart")
#Backspace
print("Hello Worl\bld")
#Form Feed
print("Line1\fLine2")
#Vertical Tab
print("Line1\vLine2")

This is a backslash: \
He said, "Hello!"
It's a beautiful day!
First Line
Second Line
Third Line
Column1	Column2	Column3
Start World
Hello World
Line1Line2
Line1Line2

In [38]:
#Python variables
#Vraible in Python are dynamically typed and do not require explicit declaration.
#No declaration needed -just assigh the value
message = "Hello, Python!"
count = 42
pi = 3.14159
is_valid = True
data_list = [1, 2, 3, 4, 5]
data_dict = {"name": "Alice", "age": 30}
data_tuple = (10, 20, 30)
nothing = None

#Dynamic typing --type can change
var = 10          # Initially an integer
print(var)
var = "Now I'm a string!"  # Now a string
print(var)
var = [1, 2, 3]  # Now a list
print(var)

10
Now I'm a string!
[1, 2, 3]

In [ ]:
#Naming conventions
my_variable = 10          # Snake case
myVariable = 20           # Camel case
MyVariable = 30           # Pascal case

#valid names
var1 = 100
_var = 200
var_3 = 300
#invalid names (uncommenting these will cause errors)
#1var = 400        # Starts with a digit
#my-var = 500     # Contains hyphen
#my var = 600     # Contains space
#def = 700        # Uses a reserved keyword
#class = 800     # Uses a reserved keyword

In [ ]:
#Multiple assignments
#unpack multiple values into variables
a, b, c = 1, 2, 3
print(a, b, c)

#Assign same value to multiple variables
x = y = z = 100
print(x, y, z)

#Swap values between variables
m = 5
n = 10
m, n = n, m
print(m, n)  # Outputs: 10 5

x,y=10,20
x,y=y,x
print(x,y)  #Outputs:20 10

#Unpack with * (exteded unpacking)
first, *middle, last = [1, 2, 3, 4, 5]
print(first)   # Outputs: 1
print(middle)  # Outputs: [2, 3, 4]
print(last)    # Outputs: 5

head ,*tail = [10,20,30,40,50]
print(head)  #Outputs:10
print(tail)  #Outputs:[20,30,40,50]

1 2 3
100 100 100
10 5
20 10
1
[2, 3, 4]
5

Reserved words or keywprds has special meaning in Python language.Python has almost 35+ keywords (py 3.10)

Contol flow: if ,elif,else,for,while,break,continue,pass
Function/ClasKeywords: def,class,return,yeild,lamdba
Exception handing:try,except,finally,raise,assert
Bollean & Logic:True,False,and,or,not,is,in
Import&Module: import,from,as
Variable Scope:global,nonlocal,del
None,with,async,await etc

In [44]:
# A program that prints all keywords in Python
import keyword
print("Python Keywords:")
print(keyword.kwlist)

Python Keywords:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Variables are containers for storing data values .

In [ ]:
x =5 #Integer variable assignment
name = "John Doe" #String variable assignment
price = 19.99 #Float variable assignment

Naming Rules:
Valid:
Must stat with letter (AtoZ or a to z)
can contain digit (0to9) and underscores (even with starting)
Case sensitive (age is not equal to AGE)
Invliad:
cannot stat with digit 2var wrong
cannot use keywords class is wrong
Cannot contain spaces or special chars my-var,my var are wrong

In [45]:
# Varibales Types (Dynamic typing)
x= 10           # Integer
y= 3.14         # Float
z= "Hello"      # String
x=True          # Boolean
x=None          # NoneType
x=[1,2,3]      # List
x=(1,2,3)      # Tuple

print(type(x))  # Outputs: <class 'list'>
print(type(y))  # Outputs: <class 'float'>

<class 'tuple'>
<class 'float'>

In [46]:
# Singe line Assignment
x=5
#Multiple line Assignment
a=10
b=20
c=30

#or
a,b,c=10,20,30
print(a,b,c)
#Same val for multiple variables
x=y=z=100
#Unpacking
x,y=[10,20]
first,*rest=[1,2,3,4,5]
print(first)
print(rest)

#Augemented assignments
x+=5  # x = x + 5
y*=2  # y = y * 2

10 20 30
1
[2, 3, 4, 5]

In [51]:
#Memory management
#Variables are refrence to objects
a = [1, 2, 3]
b = a  # b references the same list as a
b.append(4)
print(a)  # Outputs: [1, 2, 3, 4]
print(b)  # Outputs: [1, 2, 3, 4]
#Check if same object
print(a is b)  # Outputs: True
#Get memory address
print(id(a))
print(id(b))
#Delete variable
del b
#print(b)  # This will raise an error since b is deleted

[1, 2, 3, 4]
[1, 2, 3, 4]
True
3117647886720
3117647886720

Mutable and Immutable:
Immutable (cannot change)
int,float,string,tuple,boolean,frozenset
Mutable:Can change
list,dict,set,custom objects

In [54]:
#Immutable
x = 10
print(id(x))  # Outputs memory address of x
y =x + 5
print(id(y))  # Different memory address since integers are immutable

#Mutable
my_list = [1, 2, 3]
print(id(my_list))  # Outputs memory address of my_list
my_list.append(4)
print(id(my_list))  # Same memory address since lists are mutable

140733040839384
140733040839544
3117647955648
3117647955648

In [ ]:
#Special Variables
# __name__ variable
result = None

#Boolean Variables
is_active = True
has_error = False

#Underscore Variables
_current_value = 42 
__version__ = "1.0.0"

5+3
_ #Outputs:8

''

Python does not have built in constant types .Constnats are implemented by convention using styles and modules.

In [ ]:
#Naming convention uppercase for constants
PI = 3.14159
GRAVITY = 9.81
SPEED_OF_LIGHT = 299792458  # in meters per second
AVOGADRO_NUMBER = 6.022e23  # in mol^-1
# Constants are typically defined at the module level and written in uppercase letters with underscores separating words.
API_KEY = "your_api_key_here"
MAX_CONNECTIONS = 100
DEFAULT_TIMEOUT = 30  # in seconds
DATABASE_URL = "https://example.com/database"

In [ ]:
#Built-in Constants
True #Boolean true value
False #Boolean false value
None #Represents absence of value
NotImplemented #Indicates unimplemented functionality
Ellipsis #Used in slicing operations    
__debug__ #Indicates if debug mode is on

In [ ]:
#Module level constant
DATABASE_URL = "https://example.com/database"
MAX_RETRIES = 5
MAX_CONNECTIONS = 100
TIMEOUT_SECONDS = 30

In [ ]:
#Math constants
import math
PI = math.pi #3.14159
E = math.e #2.71828
TAU = math.tau  #6.28318
INF = math.inf #Positive infinity
NAN = math.nan #Not a number

Vraibles are labels that references objects in memory.

Python operators.
1.Airthematic Operator

For mathematical operations

Operator   Name         Example    Result
+          Addition     6+3         9
-          Sub          6-3         3
*          Mul          6*3         18
/          Division     6/3          3
//         FloorDivision 5//2        2
%          Modulus(rem)  5%2         1
**         Exponenation  2**3        8

In [58]:
a=10
b=3
# Arthematic Operations
addition = a + b          # Addition
subtraction = a - b       # Subtraction
multiplication = a * b    # Multiplication
division = a / b          # Division (float)
floor_division = a // b   # Floor Division
modulus = a % b           # Modulus (remainder)
exponentiation = a ** b   # Exponentiation
print("Addition:", addition)
print("Subtraction:", subtraction)  
print("Multiplication:", multiplication)
print("Division:", division)    
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [ ]:
#Special cases
#Division by zero
#10/0  # Raises ZeroDivisionError
#Modulus by zero
#10%0  # Raises ZeroDivisionError
#Integer overflow (Python handles large integers automatically)
big_number = 10**1000
print(big_number)  # Outputs a very large integer
#Float precision issues
a = 0.1 + 0.2
print(a)  # Outputs: 0.30000000000000004
#Infinity
float('inf')+1  # Outputs: inf
float('inf')*2  # Outputs: inf

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
0.30000000000000004

2.Comparision (Relational) operators

Used to compare values.They return True or Flase.

Operator                    Meaning                             Example
==                          Equal to                            5==5-->True
!=                          Not Equal                           5!=3-->True
>                           Greater than                        5>3
<                           Lessthan                            5<3
>=                         Greater than or equal                5>=3
<=                        Leass then or equal                   5<=3

In [62]:
#Comaparision operations
a = 10
b = 20
equal = (a == b)            # Equal to
not_equal = (a != b)       # Not equal to   
less_than = (a < b)        # Less than
less_equal = (a <= b)      # Less than or equal to
greater_than = (a > b)     # Greater than
greater_equal = (a >= b)   # Greater than or equal to
print("Equal:", equal)
print("Not Equal:", not_equal)  
print("Less Than:", less_than)
print("Less Than or Equal:", less_equal)
print("Greater Than:", greater_than)
print("Greater Than or Equal:", greater_equal)

Equal: False
Not Equal: True
Less Than: True
Less Than or Equal: True
Greater Than: False
Greater Than or Equal: False

In [ ]:
#Chaining Comparisons
x = 15
result = 10 < x < 20  # True
print("Is x between 10 and 20?", result)

#Multiple chains
1<2<3<4<5  # Outputs: True
5>4>3>2>1  # Outputs: True

Is x between 10 and 20? True

In [64]:
age = 25
print("Age is:", age)
18<=age<=65  #Outputs: True

Age is: 25

True

In [ ]:
#compare different data types
10 == 10.0  # Outputs: True
10 < 20.5   # Outputs: True
5 == "5"  # Outputs: False
[1,2,3] == (1,2,3)  # Outputs: False
[1,2]=[1,2]  # Outputs: True

3.Assignment operators:
Used to assign values to variables

Operator   Example     Same as
=           x=5         Assign 5
+=          x+=3        x=x+3
-=          x-=3        x=x-3
*=          x*=3        x=x*3
/=          x/=3        x=x/3
//=         x//=3       x=x//3
%=          x%=3        x=x%3
**=         X**3        x=x**3

In [65]:
#Example for assignment operators
x = 10
x += 5  # x = x + 5
x -= 3  # x = x - 3
x *= 2  # x = x * 2
x /= 4  # x = x / 4
x //= 3  # x = x // 3
x %= 4   # x = x % 4
x**=2    # x = x ** 2
print(x)

4.0

4.logical Operators.
Used to combine conditional statements

Opeartor         Meaning                      Example
and              True if both are True        True and False -->False
or               True if atleast one is true  True or False -->True
not              Reverse the result           not True -->False

In [66]:
#Example for logical operators
a = True
b = False
and_result = a and b  # Logical AND
or_result = a or b    # Logical OR
not_result = not a     # Logical NOT
print("AND Result:", and_result)
print("OR Result:", or_result)
print("NOT Result:", not_result)

AND Result: False
OR Result: True
NOT Result: False

In [68]:
age = 25
is_adult = age >= 18
print("Is adult:", is_adult)
print(age>18 and age < 30)

Is adult: True
True

True and True   ---True
True and False  ---False
False and false ---False

True or false  ---True
False or False ---False

not true ---false
not false ---true

In [ ]:
#Falsy values(Evaluates to false)
bool(False)          # The boolean value False
bool(0)              # The integer zero
bool(0.0)            # The float zero
bool("")             # The empty string
bool([])             # The empty list
bool(())             # The empty tuple
bool({})             # The empty dictionary

# Above will False a output

#Truthy values(Evaluates to true)
bool(True)           # The boolean value True
bool(1)              # Any non-zero integer
bool(-1)             # Any non-zero integer
bool(3.14)           # Any non-zero float
bool("Hello")       # Any non-empty string
bool([1, 2, 3])     # Any non-empty list
bool((1, 2))        # Any non-empty tuple
bool({"key": "value"})  # Any non-empty dictionary

Bitwise operators
Operate on binary numbers(low level but powerfull)

Operator     Name       Example
&           AND         5&3 -->1
`           `           OR
^           XOR         5 ^ 3 -->6
~           NOT         ~5 -->-6
<<          left shift  5<<1 -->10
>>          right shift  5 >> 1-->2

Any given number is converted into physical bits which or 1's and 0's

1 0001
2 0001
3 0011
4 0010
5 0101
6 0110
Bitwise AND                   Bitwise 5 ^ 3
1 & 1 =1                      1 ^1 =0
All other combinations =0     0 ^ 0 =0
5 & 3                         1 ^ 0 =1
0101                          0 ^ 1 =0
0011                         Result is 1 only when bits are different
----                          0101
0001   -->1                   0011
                              ------
                             0110    
Bitwise Not
~ 5  --- ~0101  

Flip every bit
1-->0
0-->1
Binary of 5 -->00000101
~5-->11111010  -->-6
~n=-(n+1) --> ~5 =-(5+1)=-6

~0 -->-1
~1-->-2
~5-->-6

Bitwise rightshift                   Bitwise leftshift
5=00000101
5 >> 3                                   5<<3
Before : 00000101                 Before : 00000101                 
Shift 3:>>>                       Shift 3:<<<
After:00000000                      After: 00101000
Right shift moves bits to the right  Left shift moves bits to the left and Zeros arre added on the right
Zero  are added on the left          Left shift == multiplication 2 to the power of 3 =8 -->5*8=40
2 the power 3-->8
5 //8  =0

4 >> 2

# check if number is even
num & 1 ==0 # True if even
# Swap values without temp
a =5
b=7
a ^=b
b ^=a
a ^=b  --> a=7 ,b=5

6.Identity operators
Check object identity (memory location)
is and is not

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

a is b  # Outputs: True(same object)
a is c  # Outputs: False (different objects)
a == c  # Outputs: True (same content)

a is not c  # Outputs: True (different objects)
b is not c  # Outputs: True (different objects)

In [ ]:
# small integer caching (-5 to 256)
x = 100
y = 100
x is y  # Outputs: True (same object due to caching)

a = 1000
b = 1000
a is b  # Outputs: False (different objects)

7.Membership operators
Check if value exists in sequence

in and not in

In [ ]:
# in operator
#Check membership in a list
fruits = ["apple", "banana", "cherry"]
"banana" in fruits  # Outputs: True
"pineapple" in fruits  # Outputs: False
"grape" not in fruits  # Outputs: True

#Sequence we found in lists dic and strings
"an" in "banana"  # Outputs: True
[1, 2] in [0, 1, 2, 3]  # Outputs: False

#Dictionary membership
data = {"name": "Alice", "age": 30}
"name" in data  # Outputs: True
"Alice" in data.values()  # Outputs: True
"Alice" not in data  # Outputs: False

8.Ternary operators:
Oneline if-else

result = "pass" if marks >=40 else "fail"

If condition is true left stmt orther wise right side.

In [ ]:
#Example for ternary operator
age = 20
status = "Adult" if age >= 18 else "Minor"
print("Status:", status)

Operator precendence:
1.()
2.**
3.+-(unary)
4.*/ // %
5.+-
6.Comparisiom
7.not
8.and
9.or
print(5+3 * 2) # 11