String:

Is a text waraped in quotes.

s = "hello"  ---Double quotes
s = 'hello'  ---Single quotes
s= """ Muti line strings """ ---Multiline quotes.

String is an immutable sequence of charectors.

Strings are ordered in nature.

In [6]:
#Strings creation

s1="hello"
print(s1)

s2=str(345)
print(s2)

s3="A" * 5
print(s3)

s4=" "
print(s4)

s5='python'
print(s5)

s6='''python is a programming language'''
print(s6)

s7="""python is a programming language"""
print(s7)

hello
345
AAAAA

python
python is a programming language
python is a programming language

In [7]:
#Accessing characters/Elements in a string
s="python"
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])

p
y
t
h
o
n

In [10]:
s = "python"
print(s[0])  # Output: 'p'
#s[0] = 'P'  # This will raise a TypeError because strings are immutable
s ="P"+s[1:]  # Creating a new string by concatenating 'P' with the rest of the original string
print(s)  # Output: 'Python'

p
Python

In [ ]:
# String slicing
s = "python"
print(s[0:3])  # Output: 'pyt'
print(s[2:5])  # Output: 'tho'  
print(s[:4])   # Output: 'pyth' (from start to index 3)
print(s[3:])   # Output: 'hon' (from
print(s[:])    # Output: 'python' (the whole string)

#Negative indexing
s = "python"
print(s[-1])  # Output: 'n' (last character)
print(s[-2])  # Output: 'o' (second last character) 
#based on negative indexing we can also do slicing
print(s[-4:-1])  # Output: 'tho' (from index -4 to -2)
print(s[-4:])    # Output: 'thon' (from index -4 to the end)
print(s[:-2])   # Output: 'pyth' (from start to index -3)
print(s[::-1]) # Output: 'nohtyp' (reversed string)

pyt
tho
pyth
hon
python
n
o
tho
thon
pyth
nohtyp

In [14]:
#String operations
s1 = "Hello"
s2 = "World"
print(s1 + " " + s2)  # Output: 'Hello World' (string concatenation)
print(s1 * 3)         # Output: 'HelloHelloHello' (string repetition
print("e" in s1)  # Output: True (membership test)

Hello World
HelloHelloHello
True

In [ ]:
#Common string methods
s = "  Hello World  "
print(s.lower())  # Output: '  hello world  ' (convert to lowercase)
print(s.upper())  # Output: '  HELLO WORLD  ' (convert to uppercase)
print(s.title())  # Output: '  Hello World  ' (convert to title case   )
print(s.capitalize())  # Output: '  hello world  ' (capitalize first character)
print(s.swapcase())  # Output: '  hELLO wORLD  ' (swap case)

  hello world
  HELLO WORLD
  Hello World
  hello world
  hELLO wORLD

In [16]:
# Check methods (return boolean)
s = "Hello World"
print(s.isalpha())  # Output: False (contains space)
print(s.isdigit())  # Output: False (contains letters and space)
print(s.islower())  # Output: False (contains uppercase letters)
print(s.isupper())  # Output: False (contains lowercase letters)
print(s.isspace())  # Output: False (contains non-space characters)
print(s.isalnum())  # Output: False (contains space )
print(s.startswith("Hello"))  # Output: True (string starts with "Hello")
print(s.endswith("World"))    # Output: True (string ends with "World")

False
False
False
False
False
False
True
True

In [ ]:
#Searching & Coutning
s = "hello world"
print(s.find("o"))  # Output: 4 (index of first occurrence of 'o')
print(s.find("x"))  # Output: -1 (not found)


print(s.rfind("o"))  # Output: 7 (index of last occurrence of 'o')
print(s.index("o"))  # Output: 4 (index of first occurrence of 'o')
print(s.index("x"))  # Output: ValueError (not found)

print(s.count("o"))  # Output: 2 (number of occurrences of 'o')
print(s.count("x"))  # Output: 0 (number of occurrences of 'x')
print(s.count("l"))  # Output: 3 (number of occurrences of 'l')

4
-1
2
0
3
7
4

In [ ]:
#Replace & Modify
s = "hello world"
print(s.replace("world", "there"))  # Output: 'hello there' (replace 'world' with 'there')
print(s.replace("l", "L"))          # Output: 'heLLo worLd' (replace all 'l' with 'L')

# we could also use lstrip(), rstrip(), strip() methods to remove spaces
s = "  hello world  "
print(s.strip())  # Output: 'hello world' (remove leading and trailing spaces)
print(s.lstrip())  # Output: 'hello world  ' (remove leading spaces)
print(s.rstrip())  # Output: '  hello world' (remove trailing spaces)

hello there
heLLo worLd
hello world
hello world
  hello world

In [23]:
#Splitting & Joining
s = "hello world welcome to python"
words = s.split(" ")  # Split the string into a list of words
print(words)  # Output: ['hello', 'world', 'welcome', 'to',

# Join the list of words back into a single string
joined_string = " ".join(words)
print(joined_string)  # Output: 'hello world welcome to python'

sentences = "Hello. How are you? Welcome to Python programming."
# Split the string into sentences using different delimiters
import re
sentence_list = re.split(r'[.?!] ', sentences)
print(sentence_list)  # Output: ['Hello', 'How are you', 'Welcome to Python programming.']

#Split and join based coma as delimiter
data = "apple,banana,cherry,date"
fruits = data.split(",")  # Split the string into a list of fruits
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'date']
fruits_string = "; ".join(fruits)  # Join the list of fruits with a semicolon and space
print(fruits_string)  # Output: 'apple; banana; cherry; date'

['hello', 'world', 'welcome', 'to', 'python']
hello world welcome to python
['Hello', 'How are you', 'Welcome to Python programming.']
['apple', 'banana', 'cherry', 'date']
apple; banana; cherry; date

In [24]:
# String formating
# Name : %s Age:    %d (Hello ,25)
#Old way of string formatting
name = "Alice"
age = 25
print("Name: %s Age: %d" % (name, age))  # Output: 'Name: Alice Age: 25'    

#.format() method
name = "Bob"
age = 30
print("Name: {} Age: {}".format(name, age))  # Output: 'Name: Bob Age: 30'

#f-strings (Python 3.6+)
name = "Charlie"
age = 35
print(f"Name: {name} Age: {age}")  # Output: 'Name: Charlie Age: 35'

Name: Alice Age: 25
Name: Bob Age: 30
Name: Charlie Age: 35

In [25]:
# f-strings with expressions and complex formatting
name = "David"
age = 40
print(f"Name: {name.upper()} Age: {age*2}")  # Output: 'Name: DAVID Age: 80'

name = "Eve"
age = 28
print(f"Name: {name.lower()} Age: {age/2:.1f}")  # Output: 'Name: eve Age: 14.0'

Name: DAVID Age: 80
Name: eve Age: 14.0

In [40]:
#Formating numbers in f-strings
pi = 3.14159
print(f"Pi rounded to 2 decimal places: {pi:.2f}")  # Output: 'Pi rounded to 2 decimal places: 3.14'
print(f"Pi in scientific notation: {pi:.2e}")  # Output: 'Pi in scientific notation: 3.14e+00'
print(f"Pi with 5 total digits: {pi:5.2f}")  # Output: 'Pi with 5 total digits:  3.14' (total width of 5, including decimal point)

#Padding and width in f-strings
number = 42
print(f"Number with padding: {number:5}")  # Output: 'Number with padding:    42' (total width of 5, right-aligned)
print(f"Number with left padding: {number:<5}")  # Output: 'Number with left padding: 42   ' (total width of 5, left-aligned)

print(f"Number with zero padding: {number:05}")  # Output: 'Number with zero padding: 00042' (total width of 5, padded with zeros)

print(f"{42:5d}")  # Output: '   42' (integer with width of 5)
print(f"{42:05}")  # Output: '00042' (integer with width of 5, padded with zeros)
print(f"{3.14159:8.2f}")  # Output: '    3.14' (float with width of 8, 2 decimal places)
#Seperators in f-strings
number = 1234567890
print(f"Number with comma separator: {number:,}")  # Output: 'Number with comma separator: 1,234,567,890' 
  
#Percentages in f-strings
accuracy = 0.98765  
print(f"Accuracy: {accuracy:.2%}")  # Output: 'Accuracy: 98.77%' (converted to percentage with 2 decimal places)

#Alighnment in f-strings and layout (table formatting)
data = [
    {"name": "Alice", "age": 25, "city": "New York"},
    {"name": "Bob", "age": 30, "city": "Los Angeles"},
    {"name": "Charlie", "age": 35, "city": "Chicago"}
]

print(f"{'Name':<10} {'Age':<5} {'City':<15}")  # Header with left alignment
print("-" * 30)  # Separator line
#Use < for left alignment, > for right alignment, and ^ for center alignment
for item in data:
    print(f"{item['name']:<10} {item['age']:<5} {item['city']:<15}")

Pi rounded to 2 decimal places: 3.14
Pi in scientific notation: 3.14e+00
Pi with 5 total digits:  3.14
Number with padding:    42
Number with left padding: 42
Number with zero padding: 00042
   42
00042
    3.14
Number with comma separator: 1,234,567,890
Accuracy: 98.77%
Name       Age   City
------------------------------
Alice      25    New York
Bob        30    Los Angeles
Charlie    35    Chicago

In [45]:
#Data and time querying and formatting
from datetime import datetime
now = datetime.now()
print(f"Current date and time: {now}")  # Output: Current date and time
print(f"Current date: {now:%Y-%m-%d}")  # Output: Current date in YYYY-MM-DD format
print(f"Current time: {now:%H:%M:%S}")  # Output: Current time in HH:MM:SS format
print(f"Current date and time: {now:%Y-%m-%d %H:%M:%S}")  # Output: Current date and time in combined format
print(f"Current year: {now:%Y}")  # Output: Current year
print(f"{now:%A, %B %d, %Y}")  # Output: Current date in 'Weekday, Month Day, Year' format

Current date and time: 2026-02-07 08:49:01.081474
Current date: 2026-02-07
Current time: 08:49:01
Current date and time: 2026-02-07 08:49:01
Current year: 2026
Saturday, February 07, 2026

In [46]:
#Debugging and error handling with strings
s = "hello" 
try:
    print(s[10])  # This will raise an IndexError   
except IndexError as e:
    print(f"Error: {e}")  # Output: Error message indicating index is out of range

Error: string index out of range

In [ ]:
#Separators and end parameter in print function
print("Hello", "World", "Python", sep="-")  # Output: 'Hello-World-Python' (custom separator)
print("Hello", end=" ")  # Output: 'Hello ' (end with a space instead of a newline)
print("World")  # Output: 'World' (printed on the same line as 'Hello ')

In [ ]:
 x = 10
 y = 20
 print(f"Sum: {x + y}")  # Output: 'Sum: 30' (evaluating an expression inside an f-string)
 #Python 3.8+ allows using the = specifier in f-strings to show both the variable name and its value, which is very useful for debugging.
 print(f"{x=} {y=}")  # Output: 'x=10 y=20' (using the = specifier to show variable names and values)

Sum: 30
x=10 y=20

In [51]:
#Format based on index 
print("Name: {0} Age: {1}".format(name, age))  # Output: 'Name: Charlie Age: 35' (using index-based formatting)
#format based argument names    
print("Name: {name} Age: {age}".format(name=name, age=age))  # Output: 'Name: Charlie Age: 35' (using named arguments)

Name: Eve Age: 28
Name: Eve Age: 28

In [52]:
# Comapring of 2 strings
s1 = "hello"
s2 = "world"
s3 = "hello"

print(s1 == s2)  # Output: False (comparing two different strings)

print(s1 == s3)  # Output: True (comparing two identical strings)

False
True

In [56]:
# How do we join 2 strings.
s1 = "Hello"
s2 = "World"

result = s1 + " " + s2  # Concatenating s1 and s2 with a space in between
print(result)  # Output: 'Hello World'

for letter in result:
    print(letter)  # Output: Each letter of 'Hello World' printed on a new line
    
print(result[0])  # Output: 'H' (first character of the string)    
print(len(result))  # Output: 11 (length of the string 'Hello World')

Hello World
H
e
l
l
o

W
o
r
l
d
H
11

In [58]:
# String Membership Test
print("H" in result)  # Output: True (checking if 'H' is in 'Hello World')
print("z" in result)  # Output: False (checking if 'z' is in 'Hello World')

True
False

In [61]:
#Escape sequences in strings
print("Hello\nWorld")  # Output: 'Hello' and 'World' on separate

#example="He said,"What's your name?""
#print(example)  # This will raise a SyntaxError due to the unescaped double quotes inside

example = "He said, \"What's your name?\""  # Using backslash to escape the double quotes
print(example)  # Output: He said, "What's your name?"

example = ' He said, "What\'s your name?"'  # Using single quotes for the string and escaping the single quote inside
print(example)  # Output: He said, "What's your name?"

Hello
World
He said, "What's your name?"
 He said, "What's your name?"

In [66]:
text="Hello world Python programming"
result=text.split(" ")
print(result)  # Output: ['Hello', 'world', 'Python', 'programming

text="apple,banana,cherry,date"
result=text.split(",",2)
print(result)  # Output: ['apple', 'banana', 'cherry', 'date

text="line1\nline2\nline3"
result=text.split("\n")
print(result)  # Output: ['line1', 'line2', 'line3']

text="a-b-c-d-e"
result=text.split("-",1)
print(result)  # Output: ['a', 'b-c-d-e']

['Hello', 'world', 'Python', 'programming']
['apple', 'banana', 'cherry,date']
['line1', 'line2', 'line3']
['a', 'b-c-d-e']

In [72]:
text="i like apples apples apples apples"
new_text=text.replace("apples","oranges",2)
print(new_text)  # Output: 'i like oranges apples apples apples'

i like oranges oranges apples apples

In [76]:
text="Apple apple"
print(text.replace("apple","orange"))  # Output: 'Apple orange' (only the lowercase 'apple' is replaced, not 'Apple')

text="hello"
print(text.replace("h","H",1))  # Output: 'Hello' (only the first occurrence of 'h' is replaced with 'H')

text="hello world"
print(text.replace("world",""))

text="cat dog cow"
text=text.replace("cat","tiger")
text=text.replace("dog","lion")
print(text)  # Output: 'tiger lion cow' (replacing 'cat' with 'tiger' and 'dog' with 'lion')

Apple orange
Hello
hello
tiger lion cow

In [ ]:
import re
text = "The rain in Spain stays mainly Raining in the plain."
result= re.sub("rain","snow",text,flags=re.IGNORECASE)
print(result)

#For simple replacements use str.replace()
#For pattern-based replacements use re.sub() with regular expressions and flags for case-insensitivity.

The snow in Spain stays mainly snowing in the plain.

In [80]:
text="help"
text=text.replace("h","H")
print(text)  # Output: 'help' (the original string remains unchanged because strings are immutable)

Help

In [81]:
text="hello"
table=str.maketrans("hel","HEM")
result=text.translate(table)
print(result)  # Output: 'HEMlo' (translating 'h'

HEMMo

In [83]:
text="hello world"
table=str.maketrans("","","lo")
result=text.translate(table)
print(result)  # Output: 'he wrd' (removing 'l' and

he wrd

In [ ]:

import string
text="Hello World!"
table=str.maketrans("","",string.punctuation)
result=text.translate(table)
print(result)  # Output: 'Hello World' (removing punctuation)

Hello World

In [89]:
text="hello"
encoded=text.encode()
print(encoded)  # Output: b'hello' (the string is encoded to bytes)
print(type(encoded))  # Output: <class 'bytes'> (the type of the encoded string is bytes)
print(encoded.decode())  # Output: 'hello' (decoding the bytes back to a string)
print(type(encoded.decode()))  # Output: <class 'str'> (the type of the decoded string is str)

b'hello'
<class 'bytes'>
hello
<class 'str'>

In [90]:
#String Interning
a= "hello"
b= "hello"
print(a is b)  # Output: True (both a and b refer to the same interned string object)

True

In [91]:
a= "hello world"
b= "hello world"
print(a is b)  # Output: False (a and b may not refer to the same interned string object due to the presence of a space)

False

In [94]:
#Advanced Slicing
s ="abcdef"
print(s[::-1])
print(s[::2])
print(s[-3:])

fedcba
ace
def

In [95]:
s="hello"
b=b"hello"

print(type(s))
print(type(b))

<class 'str'>
<class 'bytes'>